/* modal */


.modal {
    padding: 40px;

    min-width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

.modal__close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
}

.close-btn {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.close-btn__icon {
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .close-btn:focus &,
    .close-btn:hover & {color: $text-accent;}
}



.form-feedback__heading {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $text-heading;

}

.form-feedback__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.form-feedback__input {
    padding: 11px 11px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:focus {
        border: 1px solid $text-accent;
        outline: none;
    }
}



.form-feedback__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feedback__input:focus-within ~ .form-feedback__icon {
    fill: $text-accent;
}

.form-feedback__formfield {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}



.form-feedback__icon {
    position: absolute;
    left: 14px;
    top: 50%;

}

.form-feedback__textarea {
    padding: 12px 16px;
    min-height: 120px;
}

.form-feedback__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-feedback__textarea {
    resize: none;
}

.policy {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.policy__label {
    padding-left: 26px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.policy__checkbox {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.policy__checkbox:checked~.policy__unchecked {
    opacity: 0;
}

.policy__checkbox:checked~.policy__checked {
    opacity: 1;
}

.policy__checked {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__unchecked {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checked,
.policy__unchecked {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    pointer-events: none;
}

.form-feedback__button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}