.portfolio {
    font-family: $font-family-primary;
    background: $bg-main;
}

.portfolio__filter {
    margin-bottom: 50px;
}

.filter{
    display: flex;
    justify-content: center;
}

.filter__item:not(:last-child) {
    margin-right: 9px;
}

.filter__btn {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-heading;
    background: $bg-accent;
    border-radius: 4px;
    border: none;

    transition-property: color, background, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: $text-white;
        background: $text-accent;

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
}
/* portfolio card set */
.portfolio__projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * #{$card-set-gap});
    margin-left: calc(-1 * #{$card-set-gap});
}

.portfolio__item {
    flex-basis: calc((100%- 2 * #{$card-set-gap}) / 3);
    margin-left: $card-set-gap;
    margin-top: $card-set-gap;
}

.card__link {
    text-decoration: none;
    color: inherit;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card__thumb {
    position: relative;
    overflow: hidden;
}

.card__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__overlay{
    .card__link:hover &,
    .card__link:focus & {transform: translateY(0);}
}

.card__description {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.card__name {
    margin: 0 0 4px 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-heading;
}

.card__type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $text-main;
    margin: 0;
}