.team-section {
    background: $bg-accent;
}

.team-section__list {
    display: flex;
}

.team-section__item {
    width: 270px;
    background: $bg-main;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-section__item:not(:last-child) {
    margin-right: $card-set-gap;
}

.team-section__description {
    padding: $card-set-gap;
}

.team-section__name {
    color: $text-heading;
    font-weight: 500;
    font-size: inherit;

    margin: 0 0 10px 0;
}

.team-section__position {
    margin-bottom: 16px;
}
