$text-main: #757575;
$text-accent: #2196f3;
$text-heading: #212121;
$text-white: #ffffff;
$bg-main: #ffffff;
$bg-section: #2f303a;
$bg-accent: #f5f4fa;
$card-set-gap: 30px;

$font-family-primary: Roboto;
$font-family-secondary: 'Raleway',
sans-serif;